<?xml version="1.0" encoding="UTF-8"?>
<ApplicationConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>PreviewSilKitRuntime</Name>
  <DisplayName>[Preview] SIL Kit (Runtime)</DisplayName>
  <Version>4.0.55</Version>
  <InstallPartition>DataPartitionUnprotected</InstallPartition>
  <MinVtpVersion>7.2.0</MinVtpVersion>
  <Executables>
    <Executable>
      <Alias>No-Op</Alias>
      <ExecPath>no-op.bat</ExecPath>
      <AutostartMode>AutostartNone</AutostartMode>
      <RestartOn>0</RestartOn>
    </Executable>
  </Executables>
  <RegistryValue>
    <Name>SilKit_InstallDir</Name>
    <Key>SYSTEM\CurrentControlSet\Control\Session Manager\Environment</Key>
    <Value>D:\RtApplications\PreviewSilKitRuntime</Value>
    <View>Default</View>
    <Type>CharacterSequence</Type>
    <Root>HKLM</Root>
  </RegistryValue>
</ApplicationConfig>
